.wrapper {
    position: relative;
    width: max-content;
    color: hsl(0deg 0% 50%);
}

.span {
    display: none;
}

.icon-wrapper {
    position: absolute;
    left: 0;
    margin: auto;
    padding-left: 0.5rem;
}

.input-element {
    outline: none;
    border: none;
    font-weight: 700;
    color: hsl(0deg 0% 40%);
    background: transparent;
    border-radius: 4px;
}
.input-element::placeholder {
    font-weight: 400;
    color: hsl(0deg 0% 50%);
    padding-left: 0.5rem;
}

.input-element:hover {
    color: #000000;
}

.input-element:focus {
    border: 2px solid #000000;
}

.input-element_outline {
    border: 2px solid gray;
}

.input-elemenent_noicon {
    padding-left: 0;
}

.input-elemenent_noicon::placeholder {
    padding-left: 0;
}