.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    transform: inherit;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal.active .modal__content {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.close__modal {
    margin-left: auto;
}

.modal__p {
    margin: 0;
    font-size: 1.5rem;
    color: grey;
}

.modal__buttons {
    display: flex;
    gap: 2rem;
}