/* @import 'button.css'; */
.footer {
    background-color: cyan;
    margin: 1rem;
    padding: 2rem;
}
.footer-p {
        font-size: 2rem;
        color: hotpink;
    }
.header {
    background-color: yellow;
    padding: 2rem;
    border: 2px solid red;
    margin: 1rem;
}
.header-p {
      color: red;
      font-size: 3rem;
    }
.header-button {
      padding: 2rem;
      background-color: brown;
    }